$max-width: 1200px;
$gutter: 20px;

$fontMain: "Lora", "Times New Roman",serif;
$fontHeader: "Roboto Mono", "Courier New", monospace;

$svartur: #000;
$grar1: #999;
$grar2: #aaa;
$grar3: #ccc;
$ljosgraenn: #2d2;
$dokkgraenn: #1a1;
$beinhvitur: #fcffd2;
$brunn: #cc9694;

$transition: 300ms ease-in-out;